name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [ main ]

jobs:
  build:
    name: >-
      ruby ${{ matrix.ruby }}, resque ${{ matrix.resque }}, redis ${{ matrix.redis }}, ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - "2.4"
          - "2.5"
          - "2.6"
          - "2.7"
          - "3.0"
          - "3.1"
          - "3.2"
          - "3.3"
          - "3.4"
          - "4.0"
        resque:
          - "1.22"
          - "1.23"
          - "1.24"
          - "1.25"
          - "1.26"
          - "1.27"
          - "2.0"
          - "2.1"
          - "2.2"
          - "2.3"
          - "2.4"
          - "2.5"
          - "2.6"
          - "2.7"

        include:
          - { resque: "1.22", redis: "2.2", os: ubuntu-22.04 }
          - { resque: "1.23", redis: "2.2", os: ubuntu-22.04 }
          - { resque: "1.24", redis: "3.0", os: ubuntu-22.04 }
          - { resque: "1.25", redis: "3.0", os: ubuntu-22.04 }
          - { resque: "1.26", redis: "3.2", os: ubuntu-22.04 }
          - { resque: "1.27", redis: "3.3", os: ubuntu-22.04 }
          - { resque: "2.0",  redis: "4.0", os: ubuntu-22.04 }
          - { resque: "2.1",  redis: "4.4", os: ubuntu-24.04 }
          - { resque: "2.2",  redis: "4.6", os: ubuntu-24.04 }
          - { resque: "2.3",  redis: "4.7", os: ubuntu-24.04 }
          - { resque: "2.4",  redis: "4.8", os: ubuntu-24.04 }
          - { resque: "2.5",  redis: "5.0", os: ubuntu-24.04 }
          - { resque: "2.6",  redis: "5.2", os: ubuntu-24.04 }
          - { resque: "2.7",  redis: "5.4", os: ubuntu-24.04 }

        exclude:
          # The resque 1.22 gemfile seems to be okay with ruby 3.2 and 3.3
          - { resque: "1.23", ruby: "3.2" } # unknown incompatibility...
          - { resque: "1.23", ruby: "3.3" } # unknown incompatibility...
          - { resque: "1.23", ruby: "3.4" } # unknown incompatibility...
          - { resque: "1.23", ruby: "4.0" } # unknown incompatibility...

          - { resque: "1.24", ruby: "3.2" } # unknown incompatibility...
          - { resque: "1.24", ruby: "3.3" } # unknown incompatibility...
          - { resque: "1.24", ruby: "3.4" } # unknown incompatibility...
          - { resque: "1.24", ruby: "4.0" } # unknown incompatibility...

          - { resque: "1.25", ruby: "3.2" } # unknown incompatibility...
          - { resque: "1.25", ruby: "3.3" } # unknown incompatibility...
          - { resque: "1.25", ruby: "3.4" } # unknown incompatibility...
          - { resque: "1.25", ruby: "4.0" } # unknown incompatibility...

          - { resque: "1.26", ruby: "3.2" } # unknown incompatibility...
          - { resque: "1.26", ruby: "3.3" } # unknown incompatibility...
          - { resque: "1.26", ruby: "3.4" } # unknown incompatibility...
          - { resque: "1.26", ruby: "4.0" } # unknown incompatibility...

          - { resque: "2.1", ruby: "3.0" } # redis-namespace 1.7 requires ruby < 3
          - { resque: "2.1", ruby: "3.1" } # redis-namespace 1.7 requires ruby < 3
          - { resque: "2.1", ruby: "3.2" } # redis-namespace 1.7 requires ruby < 3
          - { resque: "2.1", ruby: "3.3" } # redis-namespace 1.7 requires ruby < 3
          - { resque: "2.1", ruby: "3.4" } # redis-namespace 1.7 requires ruby < 3
          - { resque: "2.1", ruby: "4.0" } # redis-namespace 1.7 requires ruby < 3

          - { resque: "2.5", ruby: "2.4" } # redis 5.0 requires ruby 2.5
          - { resque: "2.6", ruby: "2.4" } # redis 5.2 requires ruby 2.6
          - { resque: "2.6", ruby: "2.5" } # redis 5.2 requires ruby 2.6
          - { resque: "2.7", ruby: "2.4" } # redis 5.2 requires ruby 2.6
          - { resque: "2.7", ruby: "2.5" } # redis 5.2 requires ruby 2.6

    services:
      redis:
        image: redis

    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/resque_${{ matrix.resque }}_redis_${{ matrix.redis }}.gemfile

    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - run: sudo apt-get install redis-server
    - name: Run specs
      run: bundle exec rake
