name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [ main ]

jobs:
  build:
    name: >-
      ruby ${{ matrix.ruby }}, resque ${{ matrix.resque }}, redis ${{ matrix.redis }}, ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-24.04
        ruby:
          - "2.4"
          - "2.5"
          - "2.6"
          - "2.7"
          - "3.0"
          - "3.1"
          - "3.2"
          - "3.3"
          - "3.4"
          - "4.0"
        resque:
          - "2.2"
          - "2.3"
          - "2.4"
          - "2.5"
          - "2.6"
          - "2.7"
          - "3.0"

        include:
          - { resque: "2.2",  redis: "4.6" }
          - { resque: "2.3",  redis: "4.7" }
          - { resque: "2.4",  redis: "4.8" }
          - { resque: "2.5",  redis: "5.0" }
          - { resque: "2.6",  redis: "5.2" }
          - { resque: "2.7",  redis: "5.4" }
          - { resque: "3.0",  redis: "5.4" }

        exclude:
          - { resque: "2.5", ruby: "2.4" } # redis 5.0 requires ruby 2.5
          - { resque: "2.6", ruby: "2.4" } # redis 5.2 requires ruby 2.6
          - { resque: "2.6", ruby: "2.5" } # redis 5.2 requires ruby 2.6
          - { resque: "2.7", ruby: "2.4" } # redis 5.2 requires ruby 2.6
          - { resque: "2.7", ruby: "2.5" } # redis 5.2 requires ruby 2.6
          - { resque: "3.0", ruby: "2.4" } # resque 3.0 requires ruby 3.0
          - { resque: "3.0", ruby: "2.5" } # resque 3.0 requires ruby 3.0
          - { resque: "3.0", ruby: "2.6" } # resque 3.0 requires ruby 3.0
          - { resque: "3.0", ruby: "2.7" } # resque 3.0 requires ruby 3.0

    services:
      redis:
        image: redis

    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/resque_${{ matrix.resque }}_redis_${{ matrix.redis }}.gemfile

    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - run: sudo apt-get install redis-server
    - name: Run specs
      run: bundle exec rake
